.bookingHolderContainer {
  height: 240px;
  width: 240px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

#bookingHolder {
  display: flex;
}

.bookingHolderSubContainer {
  position: relative;
  top: 12px;
  height: 140px;
  width: 210px;
  border: 1px solid black;
  overflow: scroll;
}

.itemPTag {
  padding: 1px 0px 1px 10px;
  cursor: pointer;
}

.itemPTag:hover {
  background-color: rgb(157, 217, 255);
}
