.subContainerRight {
  height: 500px;
  width: 40%;
  top: 100px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  background-color: transparent;
  transform: translateX(-100vw);
  transition-duration: 1.5s;
  transition-delay: 0.4s;
}

#animationSubContainerRight {
  transform: translateX(0);
  transition-delay: 0.7s;
}

.pTagsInRightContainer {
  font-size: 18px;
  box-shadow: 1px 1px 9px black;
  padding: 8px;
}

.pTagsInRightContainerDiv {
  font-size: 18px;
  margin-top: 22px;
}

#middleParagraphHolder {
  box-shadow: 1px 1px 12px black;
  padding: 12px;
}

@media (max-width: 1400px) and (min-width: 0px) {
  .subContainerRight {
    width: 80%;
    top: 0px;
  }
}
@media (max-width: 1000px) and (min-width: 750px) {
  .subContainerRight {
    height: 600px;
  }
}

@media (max-width: 750px) and (min-width: 500px) {
  .subContainerRight {
    height: 700px;
  }
}

@media (max-width: 500px) and (min-width: 0px) {
  .subContainerRight {
    height: 800px;
  }
}
