.subContainerRight {
  height: 900px;
  width: 40%;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  background-color: transparent;
  transform: translateX(-100vw);
  transition-duration: 1.5s;
  transition-delay: 0.7s;
}

#animationSubContainerLeft {
  transform: translateX(0);
  transition-delay: 0.7s;
}

.pTagsInLeftContainer {
  font-size: 18px;
  box-shadow: 1px 1px 9px black;
  padding: 8px;
  background-color: white;
}

.pTagsInLeftContainerDiv {
  font-size: 18px;
  margin-top: 22px;
}

#middleParagraphHolder {
  box-shadow: 1px 1px 12px black;
  padding: 12px;
}
