#instructorProfileCreateContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#paragraphContainer {
  width: 430px;
  font-size: 16px;
  height: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 20px;
  justify-content: space-around;
  margin-left: 10px;
}

#title {
  font-size: 34px;
  font-family: "Permanent Marker", cursive;
  position: relative;
  left: 70px;
  width: 210px;
}

#fakeNav {
  height: 48px;
  width: 100%;
  background-color: lightgreen;
  border-bottom: 1px solid gray;
}
