.subContainerLeft {
  height: 600px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-700px, 300px);
  transition-duration: 2s;
  
}

#timeSelectors {
  height: 30px;
  width: 216px;
  position: relative;
  top: -8px;
  left: 7px;
  border-radius: 4px;
}

#animationSubContainerLeft {
  transform: translateX(0px);
  transition-delay: 1s;
}

#AMPM {
  height: 26px;
  position: relative;
  top: -8px;
  width: 60px;
}

#input3 {
  width: 280px;
}

#registerP {
  font-size: 38px;
  position: relative;
  font-family: "Stylish", sans-serif;
}

#registerForm {
  height: 510px;
  width: 440px;
  box-shadow: 1px 1px 30px black;
  border-radius: 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  justify-content: space-around;
  margin-bottom: 15px;
}

#input3 {
  width: 281px;
}

#registerButton {
  font-size: 18px;
  border-radius: 14px;
  width: 190px;
  height: 32px;
  border: none;
  box-shadow: 1px 1px 10px black;
  align-self: flex-end;

}

#buttonGoBackHolder {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 32px;
  margin-bottom: 14px;
  margin-top: 12px;
}


#input4 {
  width: 198px;
}

#numberCourtsSelecter {
  width: 216px;
  padding-left: 8px;
  font-size: 14px;
  margin-left: 8px;
  border: 3px ridge lightgray;
  border-radius: 4px;
  height: 30px;
  position: relative;
  top: -4px;
}


@media(max-width: 600px) and (min-width: 0px) {
  #registerForm {
    width: 290px;
  }
}