#TitleContainer {
  height: 40vh;
  width: 100%;
  align-self: flex-end;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8) 60%,
    rgba(255, 255, 255, 0)
  );
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

#title {
  font-size: 112px;
  font-weight: bold;
  position: relative;
  margin: 0;
  position: relative;

  font-family: "Permanent Marker", cursive;
}

#tennisBall {
  position: relative;
  top: 45px;
  left: -60px;
  animation-name: tennisBallBounce;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes tennisBallBounce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
