#signUpClubButton {
  border: 10px double white;
  color: white;
  height: 110px;
  width: 700px;
  top: -30px;
  font-size: 56px;
  position: relative;
  left: 40px;
  border-radius: 85px;
  background: transparent;
  outline: none;
  box-shadow: 2px 2px 50px white;
}

@media (max-width: 1400px) and (min-width: 0) {
  #signUpClubButton {
    left: 0;
    margin-top: 40px;
  }
}
