#dropDownMenu {
  font-family: cursive;
  top: 52px;
  right: 54px;
  border: 2px solid black;
  height: 170px;
  width: 200px;
  background-color: white;
  position: absolute;
  animation-name: dropDownSlide;
  transform-origin: top;
  animation-duration: 1.3s;
  font-size: 22px;
  display: flex;
  flex-direction: column;
}
