.dropDownMenu {
  font-family: cursive;
  top: 56px;
  right: 18px;
  border: 2px solid lightgreen;
  height: 110px;
  width: 170px;
  background-color: black;
  position: absolute;
  animation-name: dropDown;
  transform-origin: top;
  animation-duration: 1.3s;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropDownDiv {
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid lightgreen;
  padding: 5px;
}

.dropDownItem {
  color: lightgreen;
  text-decoration: none;
}

#dropDownAnimation {
  animation-name: dropDown;
  animation-duration: 0.8s;
}

@keyframes dropDown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
