#navBarContainer {
  display: flex;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid lightgreen;
  background-color: black;
  justify-content: space-between;
}

#title {
  font-size: 32px;
  font-family: "Permanent Marker", cursive;
  position: relative;
  left: 80px;
  color: rgb(152, 241, 152);
}

.links {
  text-decoration: none;
  color: rgb(152, 241, 152);
}

#secondContainer {
  display: flex;
  width: 325px;
  justify-content: space-between;
  position: relative;
  top: 10px;
  right: 60px;
  font-size: 24px;
  font-family: "Indie Flower", cursive;
}

.dropDownDiv {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 45px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(152, 241, 152);
  background-color: black;
}

.dropDownItem {
  margin-right: 15px;
  text-decoration: none;
  color: rgb(152, 241, 152);
}

#dropDownMenu {
  font-family: cursive;
  top: 30px;
  right: -20px;
  border-top: 2px solid black;
  border: 2px solid rgb(152, 241, 152);
  height: 130px;
  width: 155px;
  background-color: white;
  position: absolute;
  animation-name: dropDownSlide;
  transform-origin: top;
  animation-duration: 1.3s;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

@keyframes dropDownSlide {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}
