.editCancel {
  background-color: lightgreen;
  box-shadow: 0px 0px 3px black;
  width: 85px;
  height: 28px;
  border: none;
  margin: 0px 10px;
}

#littleGuy {
  font-size: 12px;
  cursor: pointer;
}

#littleGuy:hover {
  color: red;
}

#showing {
  opacity: 1;
}

.notShowing {
  opacity: 0;
  transition-duration: 0.7s;
  position: absolute;
  bottom: 300px;
}
