.otherAlertContainer {
  position: fixed;
  right: -500px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 2px;
}

#otherAlertContainerAnimation {
  animation-name: alertContainerSlide;
  animation-duration: 5s;
  animation-delay: none;
  animation-iteration-count: 1;
}

@keyframes alertContainerSlide {
  0% {
    transform: translateX(0px);
  }
  5% {
      top: 20px;
  }
  20% {
    opacity: 1;
    transform: translateX(-550px);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(-550px ,500px);
    opacity: 0;
  }
}
