#courtSlotNotBooked {
  border-bottom: 1px dashed black;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #ebedf0;
}

#bookingInfo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#bookedCheckButton {
  width: 95%;
  height: 18px;
  color: black;
  background-color: lightgray;
  border: none;
}

#bookedCheckButton:hover {
  border: 1px solid black;
}

#courtSlotBooked {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9999;
  border-bottom: 1px solid #ff9999;
}

#courtSlotNotBooked:nth-child(4n) {
  border-bottom: 1px solid black;
}

#time {
  font-size: 12px;
}
