.bookingModal {
  left: 5%;
  height: 200px;
  background-color: white;
  border: 3px solid black;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  z-index: 500;
  top: 180px;
}

#cancelButton {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  right: 0px;
}

#confirmButton {
  position: absolute;
  right: 20%;
  top: 50px;
}
