#image {
  border: 1px solid black;
  border-radius: 70%;
  height: 180px;
  width: 190px;
}

#profileContentHolder {
  display: flex;
  flex-direction: column;
  width: 78%;
}

#imageContainer {
  background: linear-gradient(
    to bottom,
    rgb(238, 238, 238) 20%,
    rgb(196, 243, 196)
  );
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

#instructorProfileContainer {
  display: flex;
}

#imageNameDiv {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

#instructorName {
  font-size: 22px;
  position: relative;
  color: rgb(46, 46, 46);
  top: -10px;
  font-family: cursive;
  text-shadow: 2px 2px rgb(255, 255, 255);
}

#bottomPartBar {
  height: 250px;
  width: 258px;
  background: linear-gradient(
    to left,
    rgb(216, 216, 216),
    white,
    rgb(216, 216, 216)
  );
  position: relative;
  border: 1px solid gray;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 5px black;
}

#instructorProfileLeftBar {
  width: 300px;
  background: linear-gradient(
    to bottom,
    rgb(196, 243, 196) 65%,
    rgb(238, 238, 238)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92vh;
}

.pTagsInBottomBar {
  font-size: 18px;
  margin-top: 28px;
}
