.subContainerLeft {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  transform: translateY(0);
  transition-duration: 2s;
  transition-delay: 1s;
}

#animationSubContainerLeft {
  transform: translateY(-200vh);
  transition-delay: 0s;
}

.pTagsInLeftContainer {
  font-size: 16px;
  box-shadow: 1px 1px 9px black;
  padding: 8px;
  background-color: white;
}

.pTagsInLeftContainerDiv {
  font-size: 16px;
  margin-top: 22px;
}

#middleParagraphHolder {
  box-shadow: 1px 1px 12px black;
  padding: 12px;
}

@media (max-width: 1400px) and (min-width: 1000px) {
  .subContainerLeft {
    height: 650px;
    padding-top: 20px;
  }
}

@media (max-width: 1000px) and (min-width: 750px) {
  .subContainerLeft {
    height: 800px;
  }
}

@media (max-width: 750px) and (min-width: 500px) {
  .subContainerLeft {
    height: 980px;
  }
}

@media (max-width: 500px) and (min-width: 0px) {
  .subContainerLeft {
    height: 1470px;
  }
}
