#formSelectors {
  position: relative;
  top: 22px;
  width: 500px;
  justify-content: space-around;
  font-size: 18px;
  display: flex;
}
#formsContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  width: 300px;
  height: 32px;
  font-size: 22px;
  border-radius: 6px;
  border: 2px ridge whitesmoke;
  padding-left: 10px;
}
.selects {
  width: 80px;
  height: 38px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 6px;
  border: 2px ridge whitesmoke;
}

.labels {
  font-size: 22px;
}

#certForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}

#jobExpForm {
  display: flex;
  flex-direction: column;
  width: 500px;

  justify-content: space-between;
}

.individualSelectors {
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}

#formSelectorsSelected {
  color: white;
  background-color: gray;
}
