#formSelectors {
  position: relative;
  top: 30px;
  font-size: 18px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
}

.individualSelectors {
  border-left: 1px solid black;
  padding-left: 4px;
  border-right: 1px solid black;
  padding-right: 4px;
}
