#courtColumn {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 6px double black;
  border-right: 6px double black;
  width: 200px;
  height: 200vh;
  display: flex;
  flex-direction: column;
}
