.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 300px;

  align-items: center;
}

.contentHolder {
  height: 260px;
  width: 345px;
  border: 1px solid gray;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 8px black;
}

.pTagHeader {
  background-color: black;
  width: 100%;
  color: rgb(200, 255, 200);
  text-align: center;
  height: 38px;
  font-size: 28px;
}
