.container {
  height: 100vh;
  width: 98vw;
  display: flex;
  background-color: white;
  justify-content: center;
}

@media (max-width: 1400px) and (min-width: 0px) {
  .container {
    flex-direction: column-reverse;
    height: 1400px;
    justify-content: flex-end;
  }

  #newContainer {
    height: 1100px;
    justify-content: space-between;
  }
}

@media (max-width: 1000px) and (min-width: 0px) {
  .container {
    height: 1720px;
  }
  #newContainer {
    height: 1200px;
  }

  @media (max-width: 750px) and (min-width: 0px) {
    .container {
      height: 1900px;
    }
    #newContainer {
      height: 1600px;
    }
  }

  @media (max-width: 500px) and (min-width: 0px) {
    .container {
      height: 2500px;
    }
    #newContainer {
      height: 1900px;
    }
  }
}
