#alertContainer {
  width: 550px;
  background-color: rgb(197, 197, 197);
  font-size: 28px;
  border-radius: 9px;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 50px;
  box-shadow: 2px 2px 30px red;
}

#alertSubContainer {
  height: 90%;
  align-self: center;
  width: 90%;
  position: relative;
  left: 15px;
  flex-direction: column;
  display: flex;
}

#danger {
  width: 100%;
  position: relative;
  padding-left: 5px;
  padding-top: 5px;
  color: red;
}

#success {
  color: green;
}
