#mainContainer {
  background-color: rgb(215, 255, 215);
  height: 100vh;
  display: flex;
}

.eventDiv {
  display: flex;
  justify-content: space-around;
  width: 360px;
  font-size: 14px;
  position: relative;
}

#courtsShowingHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fs18 {
  font-size: 18px;
}

.subContainer {
  display: flex;
  width: 475px;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

#showCourtsButton {
  position: fixed;
  bottom: 10px;
  z-index: 999;
  left: 43%;
  font-size: 20px;
  padding: 6px 12px;
  border-radius: 14px;
  background-color: white;
  box-shadow: 0px 0px 10px black;
  border: none;
}

.smallGreenDiv {
  position: relative;
  background-color: rgb(189, 255, 189);
  border-left: 8px solid black;
  border-right: 8px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  margin: 10px;
  width: 405px;
  height: 240px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  justify-content: space-around;
}

.eventDetailBox {
  height: 320px;
  position: absolute;
  width: 370px;
  background-color: rgba(0, 0, 0, 0.9);
  clip-path: polygon(50% 0, 84% 0, 84% 57%, 100% 95%, 79% 59%, 14% 59%, 14% 0);
  z-index: 100;
  top: -290px;
  left: -368px;
  color: white;
}

.flexWrapDiv {
  display: flex;
  height: 230px;
  width: 345px;
  margin-top: 70px;
  flex-direction: column;
  flex-flow: column;
  flex-wrap: wrap;
  align-content: space-around;
}

.divHoldingItem {
  height: 35px;
  font-size: 14px;
  margin-right: 11px;
}

.subLocationContainer {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.eventDateSubDiv {
  display: flex;
  margin-bottom: 7px;
}

#addEventInput {
  height: 18px;
  width: 230px;
  font-size: 14px;
  padding-left: 8px;
  margin-left: 4px;
}

.largerPTag {
  position: absolute;
  color: lightgreen;
  text-align: center;
  width: 100%;
  font-size: 24px;
  text-shadow: 2px 2px black;
  top: 0px;
  background-color: black;
  padding: 5px 0px;
}

#clubImage {
  width: 405px;
  border-radius: 2px;
  height: 240px;
}
