#userHomeContainer {
  display: flex;
}

#clubsSubscribedHalf {
  width: 65%;
}

#bookingsHalf {
  width: 35%;
}

.half {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0px;
}
