#instructorSignup {
  font-size: 30px;
  position: relative;
  top: -26px;
  color: white;
  cursor: pointer;

  border-bottom: 1px solid white;
  padding-top: 4px;
}

@media (max-width: 700px) {
  #instructorSignup {
    font-size: 22px;
    top: 0;
  }
}
