#captionsContainerMain {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.72) 72%,
    rgba(255, 255, 255, 0)
  );
  height: 60vh;
  width: 43vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.captions {
  font-size: 20px;
}

#captionsContainerSub {
  height: 230px;
  position: relative;
  left: -40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 40px;
}

#icons2 {
  margin-right: 24px;
}

#icons1 {
  margin-right: 18px;
}

@media (max-width: 950px) and (min-width: 0px) {
  #captionsContainerMain {
    background: none;
    width: 100vw;
    height: 320px;
    margin-bottom: 100px;
  }
  #captionsContainerSub {
    left: 1px;
    height: 220px;
    padding-top: 15px;
    margin-top: 5px;
  }
}

@media (max-width: 700px) and (min-width: 0px) {
  .captions {
    font-size: 20px;
  }

  #icons1 {
    margin-right: 8px;
  }
  #icons2 {
    margin-right: 8px;
  }
}
