#searchBarNavContainer {
  height: 56px;
  width: 100%;
  background-color: black;
  z-index: 200;
  color: rgb(152, 241, 152);
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: space-between;
  border-bottom: 1px solid rgb(152, 241, 152);
}

#locationIcon {
  border: 2px solid lightgreen;
  height: 16px;
  padding: 6px;
  font-size: 18px;
  background-color: rgb(94, 94, 94);
  position: relative;
  left: 2px;
}

#searchBarHolder {
  justify-content: center;
  display: flex;
  position: relative;
  left: 10px;
  top: 15px;
}

#logoLeftBar {
  font-size: 30px;
  position: relative;
  font-family: "Permanent Marker", cursive;
  position: relative;
  left: 4vw;
  top: 8px;
}

#searchBar {
  height: 28px;
  border: 2px solid rgb(152, 241, 152);
  background-color: rgb(82, 82, 82);
  font-size: 18px;
  padding-left: 8px;
  width: 400px;
  color: rgb(152, 241, 152);
  border-radius: 4px;
}

#searchPane {
  width: 120%;
  position: relative;
  right: 82px;
  top: -1px;
  border-radius: 11px;
  border: 2px solid black;
  border-top: 0px;
  color: black;
  background-color: white;
  display: flex;
  font-size: 14px;
  height: 60px;
}

#searchPane:hover {
  background-color: rgb(229, 237, 240);
}
