#alertContainer {
  background-color: transparent;
  border-radius: 6px;
  height: 20px;
  width: 250px;
  color: red;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 128px;
  left: 310px;
  font-size: 18px;
}
