.radio {
  position: relative;
  margin: 5px;
  top: 2px;
}

.servicesP {
  font-size: 14px;
  padding: 11px 0px;
}

#otherServiceInput {
  width: 300px;
  height: 28px;
  border-radius: 5px;
  padding-left: 6px;
  font-size: 14px;
}
