.radio {
  position: relative;
  left: 40px;
}

.servicesP {
  font-size: 18px;
  padding: 11px 0px;
}

#otherServiceInput {
  width: 480px;
  height: 35px;
  border-radius: 5px;
  padding-left: 6px;
  font-size: 18px;
}
