.subContainerLeft {
  height: 900px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: translateX(-180vw);
  transition-duration: 2s;
  margin-top: 50px;
}

#animationSubContainerLeft {
  transform: translateX(0px);
  transition-delay: 1s;
}
.labels {
  font-family: "Stylish", sans-serif;
  font-size: 30px;
  margin-left: 40px;
}
.inputs {
  height: 36px;
  width: 300px;
  position: relative;
  background-color: transparent;
  border-radius: 6px;
  top: -6px;
  font-size: 20px;
  padding-left: 7px;
  margin-left: 15px;
  outline: none;
}

#registerP {
  font-size: 52px;
  position: relative;

  font-family: "Stylish", sans-serif;
}

#registerForm {
  height: 550px;
  width: 680px;
  box-shadow: 1px 1px 30px black;
  border-radius: 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
}

#registerButton {
  margin-top: 12px;
  font-size: 28px;
  border-radius: 14px;
  padding: 8px;
  width: 400px;
  border: none;
  box-shadow: 1px 1px 10px black;
  align-self: flex-end;
  position: relative;
  right: 40px;
}

.divWidthControl {
  margin-top: 8px;
  width: 90%;
  display: flex;
  justify-content: center;
}

#input2 {
  width: 348px;
}

#input1 {
  width: 400px;
}

#input15 {
  width: 400px;
  margin-left: 26px;
}

#ml26 {
  margin-left: 26px;
}

#ml8 {
  margin-left: 8px;
}

@media (max-width: 1587px) and (min-width: 1400px) {
  .subContainerLeft {
    margin-left: 80px;
  }
}

@media (max-width: 1400px) and (min-width: 0px) {
  .subContainerLeft {
    width: 95vw;
    height: 600px;
    align-items: center;
  }
}

@media (max-width: 720px) and (min-width: 0px) {
  #registerForm {
    width: 90%;
  }

  .labels {
    display: none;
  }
  .inputs {
    width: 90%;
    margin-left: 0px;
  }
  #input15 {
    width: 90%;
    margin-left: 0px;
  }
  #input1 {
    width: 90%;
    margin-left: 0px;
  }
  #input2 {
    width: 90%;
    margin-left: 0px;
  }
  #ml26 {
    margin-left: 0px;
  }
  #ml8 {
    margin-left: 0px;
  }
  #registerButton {
    width: 90%;
    font-size: 22px;
  }
  #registerP {
    font-size: 34px;
  }
}
