.subContainerLeft {
  height: 600px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-700px, 300px);
  transition-duration: 2s;
}

#timeSelectors {
  height: 40px;
  width: 100px;
  position: relative;
  top: -8px;
  left: 7px;
}

#animationSubContainerLeft {
  transform: translateX(0px);
  transition-delay: 1s;
}

#AMPM {
  height: 40px;
  position: relative;
  top: -8px;
  width: 70px;
}

#input3 {
  width: 280px;
}

#registerP {
  font-size: 38px;
  position: relative;
  font-family: "Stylish", sans-serif;
}

#registerForm {
  height: 440px;
  width: 500px;
  box-shadow: 1px 1px 30px black;
  border-radius: 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  justify-content: space-around;
}

#input3 {
  width: 281px;
}

#registerButton {
  margin-top: 12px;
  font-size: 18px;
  border-radius: 14px;
  padding: 8px;
  width: 260px;
  border: none;
  box-shadow: 1px 1px 10px black;
  align-self: flex-end;
}

