#registerForm {
  height: 480px;
  width: 680px;
  border: 2px solid white;
  border-radius: 22px;
  position: relative;
  display: flex;
  flex-direction: column;
}

#registerP {
  color: white;
  font-size: 52px;
  font-family: "Indie Flower", cursive;
}

#userSignUpButton {
  height: 42px;
  width: 96px;
  border-radius: 20px;
  font-size: 16px;
  border: none;
  color: black;
  position: relative;
  top: 9px;
  left: 14px;
  color: black;
  background-color: white;
}

#registerFormContainer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 40px;
}

.labels {
  color: white;
  font-family: cursive;
  font-size: 36px;
  margin-left: 40px;
}

#selecter {
  height: 40px;
  width: 60px;
  font-size: 20px;
  margin-left: 10px;
  position: relative;
  top: -4px;
}

.inputs {
  color: white;
  height: 36px;
  width: 300px;
  position: relative;
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid white;
  top: -6px;
  font-size: 20px;
  padding-left: 12px;
  margin-left: 15px;
  outline: none;
}

#input2 {
  width: 348px;
}

#input1 {
  width: 400px;
}

#input15 {
  width: 400px;
  margin-left: 26px;
}

#ml26 {
  margin-left: 26px;
}

#ml8 {
  margin-left: 8px;
}

#ageGenderDiv {
  position: relative;
  width: 650px;
  display: flex;
  justify-content: space-between;
}

#instructorLink {
  color: gold;
  font-family: cursive;
  font-size: 34px;
  margin-left: 40px;
  margin-top: 12px;
  margin-right: 40px;
  padding-top: 10px;
  border-top: 2px solid white;
}

@media (max-width: 1400px) and (min-width: 0px) {
  #registerFormContainer {
    left: 0;
  }
}
