#registerForm {
  height: 480px;
  width: 680px;
  border: 2px solid white;
  border-radius: 22px;
  position: relative;
  display: flex;
  flex-direction: column;
}

#registerP {
  color: white;
  font-size: 52px;
  font-family: "Indie Flower", cursive;
}

#userSignUpButton {
  height: 42px;
  width: 96px;
  border-radius: 20px;
  font-size: 16px;
  border: none;
  color: black;
  position: absolute;
  bottom: 152px;
  right: 50px;
  color: black;
  background-color: white;
}

#registerFormContainer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 40px;
}

.labels {
  color: white;
  font-family: "Stylish", sans-serif;
  font-size: 36px;
  margin-left: 40px;
}

#selecter {
  height: 40px;
  width: 60px;
  font-size: 20px;
  margin-left: 10px;
  position: relative;
  top: -4px;
}

.inputs {
  color: white;
  height: 36px;
  width: 300px;
  position: relative;
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid white;
  top: -6px;
  font-size: 20px;
  padding-left: 12px;
  margin-left: 15px;
  outline: none;
}

.selectorLabels {
  color: white;
  font-family: "Stylish", sans-serif;
  font-size: 36px;
  margin-left: 40px;
}

#input2 {
  width: 348px;
}

#input1 {
  width: 400px;
}

#input15 {
  width: 400px;
  margin-left: 26px;
}

#ml26 {
  margin-left: 26px;
}

#ml8 {
  margin-left: 8px;
}

#ageGenderDiv {
  position: relative;
  width: 628px;
  display: flex;
  justify-content: flex-start;
}

#instructorLink {
  color: gold;
  font-family: "Stylish", sans-serif;
  font-size: 34px;
  margin-left: 40px;
  margin-top: 12px;
  margin-right: 40px;
  padding-top: 10px;
  border-top: 2px solid white;
}

@media (max-width: 1400px) and (min-width: 0px) {
  #registerFormContainer {
    left: 0;
  }
}

@media (max-width: 700px) and (min-width: 0px) {
  #registerForm {
    width: 355px;
    display: flex;
    align-items: center;
  }
  .labels {
    display: none;
  }

  #input1 {
    width: 300px;
  }
  #input15 {
    width: 300px;
    margin-left: 0px;
  }

  #input2 {
    width: 300px;
  }

  #ml26 {
    margin-left: 0px;
  }
  #ml8 {
    margin-left: 0px;
  }

  .inputs {
    width: 300px;
    margin-left: 0px;
    margin-bottom: 8px;
  }

  #registerP {
    font-size: 28px;
  }

  .selectorLabels {
    margin-left: 8px;
    position: relative;
    top: -8px;
  }
  #userSignUpButton {
    height: 40px;
    width: 96px;
    border-radius: 6px;
    font-size: 16px;
    bottom: 6px;
    right: -8px;
  }

  .divWidthControl {
    width: 300px;
    margin-top: 12px;
  }
  #form {
    width: 310px;
    position: relative;
    top: 20px;
  }

  #ageGenderDiv {
    width: 240px;
  }
}
