#navBarContainer {
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid white;
  background-color: rgb(152, 241, 152);
  justify-content: space-between;
}

#title {
  font-size: 34px;
  font-family: "Permanent Marker", cursive;
  position: relative;
  left: 120px;
}

.links {
  text-decoration: none;
  color: black;
  margin-right: 5px;
}

#secondContainer {
  display: flex;
  position: relative;
  top: 15px;
  right: 60px;
  font-size: 24px;
  font-family: "Indie Flower", cursive;
}

.dropDownDiv {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
  padding-top: 4px;
  padding-bottom: 6px;
  border-bottom: 2px solid black;
  background-color: rgb(200, 255, 200);
}

.dropDownItem {
  margin-right: 15px;
  text-decoration: none;
  color: black;
}

#dropDownMenu {
  font-family: cursive;
  top: 38px;
  right: -20px;
  border: 2px solid black;
  height: 124px;
  width: 160px;
  background-color: white;
  position: absolute;
  animation-name: dropDownSlide;
  transform-origin: top;
  animation-duration: 1.3s;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  z-index: 11;
}

@keyframes dropDownSlide {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}
